*{
    margin: 0;
    padding: 0;       
}
body{
    color: #fff;
    background-color: #101623;
    /* position: relative; */
    /* background-color: #f2f2fe; */
    font-family: 'Poppins', sans-serif;   
}
.taskbar{
    display: inline-flex;
    height: 60px;
    width: 100%;
    background-color: #2d3446;   
    position: fixed;
    top: 0;
}
.home a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 40px;
    height: 40px;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 7.5px;

    
    background-size: 100% 200%;
    background-position: 0% 0%;
    background-image: linear-gradient( #2d3446 50% ,#fff 50%);
    transition: background-position 0.5s ,color 0.5s;

}
.home a:hover{
    
    background-position: 0% 100%;
    color:  #2d3446;
} 

.payments a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    width: 60px;
    height: 25px;
    font-weight: bolder;
    color: #fff;
    text-decoration: none;
    
    margin-left: 1200px;
    margin-top: 15px; 
    
    
}
.kyc a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 18px;
    width: 60px;
    height: 25px;
    color: #fff;
    text-decoration: none;
    
    margin-left: 50px;
    margin-top: 15px; 
    
}
img{
    width: 300px;
    height: 300px;
    border-radius: 150px;
}
.container{
        display: inline-flex;
        margin-top: 100px;
        height: 100%;
        width: 100%;
        
        
        font-size: 13px;
}
.container1{
    /* margin-left: 300px; */
    margin-left: 15%;
    height: 100%;
    width: 50%;
    
}
.container2{
    
    height: 100%;
    width:70%;
    margin-top: 200px;   
    /* background-color: aqua; */
    
    
}
p{
    font-size: 19px;
}
h2{
    margin-top: 20px;
}
h1{
    color: darkred;
    margin-right: 50px;
}

.endbar{
    margin-top: 50px;
    bottom: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    background-color:  #2d3446;    
    color: #fff;
    bottom: 0;
}
input[type=text]{
    color: #fff;
    background-color: #2d3446;
    width:270px;
    border: 2px solid black;
    height: 40px;
    border-radius: 4px;
    /* margin: 8px 0; */
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
}
input[type=text]:focus{
    border-color:dodgerblue;
    box-shadow: 0 0 8px dodgerblue;
}
input[type=date]{
    color: #fff;
    background-color: #2d3446;
    width:270px;
    border: 2px solid black;
    height: 40px;
    border-radius: 4px;
    /* margin: 8px 0; */
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
}
input[type=text]:focus{
    border-color:dodgerblue;
    box-shadow: 0 0 8px dodgerblue;
}
select{
    color: #fff;
    background-color: #2d3446;
    width:270px;
    border: 2px solid black;
    height: 40px;
    border-radius: 4px;
    /* margin: 8px 0; */
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
}
